h2 {
    margin-bottom: 16px;
    font-size: 14px;
  }
  
  .ticket-card {
    margin: 10px 10px 10px 0px;
  }
  
  .create-ticket {
    margin-top: 10px !important;
  }
  
  .outer-paper {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 60%;
  }

  .textss {
    display: flex;
    color: red;
  }

  .risky {
    color: red;
  }

  .normalRisk {
    color: orange;
  }

  .safe {
    color: green;
  }