h2 {
    margin-bottom: 16px;
    font-size: 14px;
  }
  
  .event-card {
    margin: 10px 10px 10px 0px;
  }
  
  .create-event {
    margin-top: 10px !important;
  }
  
  .outer-paper {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
  }

  .textss {
    /* display: flex; */
    color: blue
  }


  